.home {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  padding: 2rem 3rem;
  background-color: var(--bg-color);
  gap: 5rem 0;

}

.home-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.home-logo__img {
  transform: scale(1.2,1.2);
}

.home-logo__title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.home-logo__text {
  color: var(--txt-color);
  font-size: 1.2rem;
  font-weight: bold;
}

.home-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.home-actions__text {
  font-weight: bold;
  font-size: 1.8rem;
  color: var(--txt-color);
  margin-bottom: 4rem;
  width: 50%;
  text-align: center;
  font-weight: bolder;
}

.home-actions__btn {
  padding: 1rem 2rem;
  border-radius: 10px;
  text-transform: uppercase;
  color: var(--txt-color);
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
}

.home-actions__btn--register {
  background-color: var(--dark-green);
}
.home-actions__btn--login {
  background-color: var(--light-green);
}

.home > * {
  grid-column: span 1;
}

.home__text {
  grid-column: span 2;
  text-align: center;
  font-weight: bold;
  color: var(--txt-color);
  font-size: 1.2rem;
}