.welcome-form-input {
  background-color: var(--input-bg);
  border-radius: 30px;
  width: 100%;
  padding: .5rem 1rem;
  display: flex;
  align-items: center;
}

.welcome-form-input:not(:first-child) {
  margin-top: 3rem;
}

.welcome-form-input__icon {
  font-size: 2rem;
  color: var(--dark-green);
  display: flex;
  align-items: center;
  justify-content: left;
  margin-right: 1rem;
}

.welcome-form-input__input {
  appearance: none;
  background-color: transparent;
  height: 100%;
  width: 90%;
  font-size: 1.2rem;
  color: var(--input-placeholder-color);
}

.welcome-form-input__input::placeholder {

}